<% provide(:title, "About") %>
<h1>About</h1>
<p>
<a href="http://www.twitter.com/"><em>Twitter clone website</em></a> based on <a href="http://rubyonrails.org/">Ruby on Rails</a>, implemented by <a href="https://www.linkedin.com/in/ahmed-kareem-hatem-657133ab/">Ahmed Kareem</a>. </p>
<p>
This application includes examples of most of the major features of Rails, including models, views, controllers, templates, partials, filters, validations, callbacks, has_many/belongs_to and has_many :through associations, security, testing, and deployment.
</p>
<p>
You can find the code on <a href="https://bitbucket.org/kareemshawadfy/followme">BitBucket</a>.
</p>
