<footer class="footer">
  <small>
    <%= link_to "FollowMe", root_path %> by <%= link_to "Ahmed Kareem", "https://www.linkedin.com/in/ahmed-kareem-hatem-657133ab/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><b><em><%= link_to "More of my work", "https://github.com/akhatem?tab=repositories" %></em></b></li>
    </ul>
  </nav>
</footer>
